@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #D8C4E1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 320px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {

  height: 100%;
  width: 100%;
  display: grid;
}
.logo {
  display: flex;
  align-items: center;
}
.actual-form {
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center;     /* Alinha verticalmente */
  flex-direction: column;  /* Organiza o conteúdo na coluna */
  font-size: 15px;
}

.actual-form img {
  width: 40px;
  height: 40px; /* Definir altura para manter a proporção */
  object-fit: contain; /* Para a imagem se ajustar sem distorcer */
  margin-bottom: 15px; /* Adiciona espaçamento abaixo da imagem, se necessário */
}


form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}
.toggle:hover {
  color: #593B7D;
}

.input-wrap {
  position: relative;
  width: 100%; /* Garante que os inputs ocupem toda a largura disponível */
  max-width: 300px; /* Limita a largura máxima para inputs */
  height: 45px; /* Altura dos inputs */
  margin-bottom: 1rem; /* Espaçamento entre inputs */
}

.input-field {
    width: 100%; /* Faz os inputs ocuparem toda a largura do wrap */
    height: 45px; /* Define a altura do input */
    background: none;
    border: 1px solid #593B7D; /* Adiciona uma borda ao input */
    outline: none; /* Remove a borda de foco padrão */
    padding: 0 5px; /* Adiciona um pouco de espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte do input */
    color: #151111;
    transition: border-color 0.4s; /* Transição suave para a cor da borda */
    border-radius: 10px;
    margin-top: 15px;
}

label {
  margin-top: 15px;
  position: absolute;
  left: 5px; /* Um pouco mais de espaçamento à esquerda */
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;
}
.label-hidden {
  opacity: 0; /* Torna o label invisível */
  transition: opacity 0.1s ease; /* Adiciona uma transição suave */
}
.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    max-width: 300px; /* Limita a largura do botão */
    height: 45px;
    background-color: #593B7D;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    transition: background-color 0.3s;
    margin-top: 16px; /* Espaçamento acima do botão */
}

.sign-btn:hover {
  background-color: #ad74f3;
}
