body {
    margin: 0;
    font-family: sans-serif;
}

#logo-main {
    color: rgb(216, 117, 216);
    font-weight: bold;
    font-size: 38px;
    text-shadow: 2px 2px 0 rgba(104, 0, 107, 0.5);
    margin-top: 10px;
}

.main {
    margin-left: 170px; 
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(30.67% - 50px);
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    color: #666;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(148, 108, 243);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.add-task-button {
    border: 2px dashed #000;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    border-radius: 7px;
}

/* Estilos para modals */
.modal {
    display: none;  /* Inicialmente oculta */
    position: fixed;
    top: 50%;  /* Coloca a modal no meio da tela verticalmente */
    left: 50%;  /* Coloca a modal no meio da tela horizontalmente */
    transform: translate(-50%, -50%);  /* Ajusta a posição para que ela fique centralizada */
    width: 100%;  /* A modal ocupa 100% da largura da tela */
    height: 100%;  /* A modal ocupa 100% da altura da tela */
    background-color: rgba(0, 0, 0, 0.5);  /* Fundo semitransparente */
    z-index: 1000;  /* Garante que a modal fique sobre outros elementos */
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente o conteúdo */
    align-items: center;  /* Centraliza verticalmente o conteúdo */
}

/* Conteúdo da modal */
.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;  /* Largura fixa da modal */
    max-width: 100%;  /* Responsivo para telas pequenas */
    text-align: center;
}

/* Estilos do modal de input */
.modal input[type="text"],
.modal input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px; /* Aumentei o padding para um visual mais espaçoso */
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos dos botões dentro do modal */
.modal button {
    margin: 10px;
    padding: 12px 25px; /* Aumentei o padding do botão */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(148, 108, 243);
    color: white;
}

.modal button:hover {
    background-color: rgb(104, 0, 107);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .main {
        margin-left: 0; 
        padding: 10px;
    }

    .title {
        font-size: 20px;
        margin-top: 25px;
        margin-left: 20px;
    }

    .card {
        width: calc(85% - 20px); 
        height: auto; 
    }

    .cards-container {
        flex-direction: column;
        align-items: center; 
    }

    .add-task-button {
        width: 30%; 
        margin-top: 60px;
    }
    .modal-content {
        background-color: white;
        border-radius: 5px;
        text-align: center;
        width: 90%;
        max-width: 90%;
    }
}

.sidebar{
    width: 50px;
}
