body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#logo-main {
    color: rgb(216, 117, 216);
    font-weight: bold;
    font-size: 38px;
    text-shadow: 2px 2px 0 rgba(104, 0, 107, 0.5);
    margin-top: 10px;
}



.sidebar {
    background-color: #ffffff;
    width: 120px;
    height: 100vh;
    position: fixed;
    left: 0; /* Fixa a sidebar à esquerda da tela */
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.05);
}

.menu{
    margin-top: 30px;
}

.menu a{
    text-decoration: none;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
}



.sidebar button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #b1b1b1;
    margin: 30px 0;
    cursor: pointer;
}

.sidebar button i {
    margin-right: 10px;
    color: #b1b1b1;
    font-size: 22px;
}


.sidebar button.active i {
    color: rgb(143, 143, 143); 
}



.sidebar button span {
    font-size: 16px;
    color: #b1b1b1;
    display: inline-block;
}

.sidebar button.active i,
.sidebar button.active span {
    color: rgb(143, 143, 143);
}

.logout{
    margin-top: 60px;
}

/* Estilos para responsividade */
.hamburger {
display: none; 
font-size: 30px;
cursor: pointer;
position: fixed;
top: 10px;
right: 10px;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    #logo-main {
        margin-right: 325px;
    }

    .menu {
        margin-right: 240px;
        margin-top: 5px;
    
    }
    .menu a{
        text-decoration: none;
    }

    .sidebar {
        width: 100%;
        position: fixed; 
        top: 0; 
        left: 0; 
        max-height: 0; 
        opacity: 0; 
        transition: max-height 0.3s ease, opacity 0.3s ease;
        background-color: white; 
        z-index: 1000; 
    }

    .sidebar button{
        margin: 10px 0; 
    }

    .sidebar.active {
        max-height: 300px; 
        opacity: 1;
    }

    .hamburger {
        display: block; 
        z-index: 1001; 
        margin-right: 20px;
        margin-top: 15px;
    }

    .logout{
        margin-top: 1px;
    }

    .add-task-button{
        width: 25%;
        margin-left: 20px;
    }
}
